[submodule "pp/oppai-ap"]
	path = pp/oppai-ap
	url = https://github.com/RealistikOsu/RealistikAP-PP
[submodule "pp/oppai-rx"]
	path = pp/oppai-rx
	url = https://github.com/RealistikOsu/RealistikPP-RX
