aio-pika
aiobotocore
aioftp
aiohttp[speedups]
bcrypt
cryptography
databases[asyncmy]
fastapi
ftpretty
orjson
py3rijndael
python-json-logger
python-multipart
redis
tenacity
types-aiobotocore[s3]
uvicorn[standard]
