aiodns
aiohttp
aioredis==2.0.1
bcrypt==4.0.1
Brotli
cchardet
databases[asyncmy]==0.5.5
fastapi
meilisearch-python-async
orjson
py3rijndael
# Specifying this version is important
rosu-pp-py==0.7.2
# Pinned as it breaks databases
sqlalchemy==1.4.41
uvicorn
uvloop
aiobotocore == 2.5.2
types-aiobotocore[s3] == 2.5.2
