aio-pika
aiobotocore
aioftp
bcrypt
cryptography
databases[asyncmy]
fastapi
ftpretty
httpx
orjson
py3rijndael
python-json-logger
python-multipart
redis
tenacity
types-aiobotocore[s3]
uvicorn[standard]
